@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    color: #333;
    list-style-type: none;
}

a{
    display: block;
    text-decoration: none;
}

body{
    width: 1000px;
    height: 650px;
    background-color: #fff;
}

.top{
    width: 200px;
    height: 650px;
    float: left;
}

.logo{
    width: 200px;
    height: 100px;
}

.menu{
    width: 200px;
    height: 550px;
}

.main>li>a{
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #8b59ff;
}

.main>li>a:hover{
    color: #fff;
    background-color: blueviolet;
}

.sub{
    display: none;
}

.sub>li>a{
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #00f7ff;
}

.sub>li>a:hover{
    color: #ff008c;
    background-color: rgb(0, 255, 42);
}

.imgslide{
    width: 800px;
    height: 350px;
    float: right;
}

.contents{
    width: 800px;
    height: 200px;
    float: right;
}

.nogal{
    width: 300px;
    height: 200px;
    float: left;
}

.banner{
    width: 300px;
    height: 200px;
    float: left;
}


.shortcut{
    width: 200px;
    height: 200px;
    float: left;
}


.bottom{
    width: 800px;
    height: 100px;
    float: right;
}

.logo2{
    width: 200px;
    height: 100px;
    float: left;
}


.bottom_right{
    width: 600px;
    height: 100px;
    float: left;
}


.menu2{
    width: 600px;
    height: 50px;
}


.copy{
    width: 600px;
    height: 50px;
}